.scrollToTopButton {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: rgb(69 208 255 / 1);
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;         
height: 55px;  
  padding: 0px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
  opacity: 0.8;
  z-index: 1000;
}

.scrollToTopButton:hover {
  background-color: #0fcfec;
  opacity: 1;
}

.scrollToTopButton:focus-visible {
  outline: 3px solid #ffffff;
  outline-offset: 3px;
}
