@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
    background: #2a2a2a;
}

::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

::-webkit-scrollbar-track {
    background: #2a2a2a;
}

:root {
  --ifm-color-primary: #3b82f6;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-dark-color: rgb(9, 9, 63);
}


[data-theme='dark'] {
  --ifm-color-primary: #b2c225;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: #fff;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a {
  color: #1a202c;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #3b82f6;
}

[data-theme='dark'] .navbar {
  background-color: #1a202c;
  color: #e5e7eb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] .navbar a {
  color: #f3f4f6; /* Light text for links */
}

[data-theme='dark'] .navbar a:hover {
  color: #60a5fa; /* Lighter blue hover color in dark mode */
}

[data-theme='dark'] #__docusaurus_skipToContent_fallback {
  background: linear-gradient(rgba(15, 23, 42, 0.796), rgba(15, 23, 42, 0.23));
}

a:hover {
  text-decoration: none;
}

.footer{
  background-color: #001;
}