.dsa-interview {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.toggle-content {
  margin-top: 10px;
}

ul {
  margin-left: 20px;
}

.solution-code {
  background-color: #f4f4f4; /* Light grey background for code blocks */
  border-left: 5px solid #1b2b92; /* Green left border */
  padding: 10px;
}

pre {
   white-space: pre-wrap; /* Allows wrapping in preformatted text */
   overflow-x: auto; /* Allows horizontal scrolling for long lines */
   margin-bottom: 20px; /* Space below code blocks */
}