.scrollToBottomButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(52 211 153 / 1);;
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 0px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
  opacity: 0.8;
  z-index: 1000;
}

.scrollToBottomButton:hover {
  background-color: rgb(36, 196, 71);
  opacity: 1;
}

.scrollToBottomButton:focus-visible {
  outline: 3px solid #ffffff;
  outline-offset: 3px;
}
