.quick-sort-visualization {
    padding: 20px;
    border: 1px solid #3498db;
    border-radius: 5px;
  }
  
  .quick-sort-visualization button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 0.5;
    cursor: pointer;
  }
  
  .quick-sort-visualization button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .quick-sort-visualization .array-bar {
    width: 15px;
    margin: 0 2px;
    background-color: #4caf50;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }
  
  .quick-sort-visualization .array-bar.pivot-index {
    background-color: #ff5722;  /* Orange color for pivot */
  }
  
  .quick-sort-visualization .array-bar.comparing-index {
    background-color: #2196f3;  /* Blue color for elements being compared */
  }